<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="page-header">
        <div class="col-md-3 col-sm-4">
          <%= image_tag @user.avatar, width: "200px" if @user.avatar? %>
        </div>
        <div class="col-md-9 col-sm-8">
          <h3><%= @user.name %></h3>
          <p><%= @user.email %></p>
          <p><%= simple_format @user.intro %></p>
          <% if current_user == @user %>
            <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><stong><%= @commented_restaurants.count %></stong>則已評論過的餐廳</h3>
        </div>
        <div class="panel-body">
          <% @commented_restaurants.each do |restaurant| %>
            <%= link_to restaurant_path(restaurant) do %>
              <div class="my-restaurant">
                <div>
                  <%= image_tag restaurant.image, class: "img-responsive img-rounded" %>
                </div>
                <h5><%= restaurant.name %></h5>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>