<div class="container">
  <h1>餐廳後台</h1>
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li><h3><%= restaurant.name %></h3></li>
      <li><%= link_to 'Show', admin_restaurant_path(restaurant) %></li>
      <li><%= link_to 'Edit', edit_admin_restaurant_path(restaurant) %></li>
      <li><%= link_to 'Delete', admin_restaurant_path(restaurant),
                                method: :delete %></li>
    <% end %>
  </ul>
  <%= link_to 'New Restaurant', new_admin_restaurant_path %>
</div>
