<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3><%= @restaurant.name %></h3>
      <p><%= @restaurant.category.name %></p>
      <div class="col-md-4">
        <%= image_tag @restaurant.image, class: "img-responsive block-center" if @restaurant.image? %>
        <br> 
        <div class="well">
          <ul class="list-unstyled">
            <li><strong>Tel: </strong><%= @restaurant.tel %></li>
            <li><strong>Opening Hours: </strong><%= @restaurant.opening_hours %></li>
            <li><strong>Address: </strong><%= @restaurant.address %></li>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <%= simple_format @restaurant.description %>
      </div>
    </div>
    <div class="clearfix"></div>
    <hr>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <% @restaurant.comments.each do |comment| %>
          <h4><%= comment.user.email.split('@').first.capitalize %></h4>
          <p><%= simple_format comment.content %></p>
          <p class="text-muted">
            <em><%= time_ago_in_words(comment.created_at) %></em> -
            <% if current_user.admin? %>
              <%= link_to 'Delete', restaurant_comment_path(@restaurant, comment), method: :delete %>
            <% end %>
          </p>
          
          <hr>
        <% end %>
      </div>
      <div class="col-md-10 col-md-offset-1">
        <%= form_for [@restaurant, @comment] do |f| %>
          <div class="form-group">
            <%= f.text_area :content, placeholder: "留個言吧！", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "Create Comment", class: "btn btn-primary" %>
            <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
            <%= link_to 'Back to Restaurants', restaurants_path %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>